header {
    padding: 1%;

}
h2 {
    display: inline;
    font-size: 25px;
}

body {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color:rgba(114, 109, 109, 0.994);
}

#timer {
    position: relative;
    float: right;
    right: 5%;
}

#containter {
    display: flex;
    position: relative;
    float: right;
    align-items: center;
    width: 100%;
}

#start {
    background-color: green;
    width: 200px;
    height: 50px;
    margin: 10% 0 20% 43%;
    color: white;
    font-weight: 600;
    font-size: 36px;
    border: none;
    border-radius: 5%;
    box-shadow: 10px 5px 5px black;
}

#question-container {
    margin: 5% 0 0% 5%;
    font-size: 28px;
    font-weight: 700;
    color:white; 
    text-align: center;
}

#answers {
    margin: 10% 20% 0 42%;
    padding: 3%;
    background-color: white;
    width: fit-content;
    border-radius: 5%;
    box-shadow: 10px 5px 5px black;
}

#submitInitials {
    background-color: aliceblue;
    margin: 10% 20% 0 25%;
    width: 600px;
    height: 200px;
    border-radius: 5%;
    box-shadow: 10px 5px 5px black;
}

#submitInitials h2 {
    position: relative;
    margin-left:35%;
    padding: 5%;
}

#submitInitials form {
    position: fixed;
    margin: 5%, 0 0 100%;
    font-size: smaller;
}

.btn {
    background-color: blueviolet;
    border: none;
    color: white;
    width: 200px;
    margin: 10px 20px 10px 20px;
    display: grid;
    font-size: 20px;
    border-radius: 5%;
    padding: 2%;
    box-shadow: 8px 4px 4px black;
}

.btn:hover {
    background-color: aqua;
    color: black;

}
.hidden {
    position: relative;
    display: none;
}
